<div class="page" id="main">
  <div class="mainContentWidth">
    <div class="divider wid-100">
      <content>
        <h1 style="text-align:center">The Ascension</h1>
        <div class="divider wid-100">
          <h2 style="text-align:center">Latest Release</h2>
          <iframe width="560" height="315" style="display:block;margin:0 auto;" id="asPlayer" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <h2 style="text-align:center">New Release Mondays & Thursdays</h2>
        </div>
        <div class="divider wid-100">
          <div style="text-align:center" onclick="goto('ascension/submit')"><button>Submit a release</button></div>
        </div>
      </content>
    </div>
  </div>
</div>

<div class="page" id="form">
  <div class="mainContentWidth">
    <div class="divider wid-100">
      <content>
        <h1 style="text-align:center">The Ascension: Submission Form</h1>
        <p>Submission Rules:</p>
        <p>- Tracks you submit must be work created by yourself, or if given permission to post, by a friend or an artist on your label.  Any submission that is not one of the following will be denied and will lead to your email being blocked from future submissions.</p>
        <p>- If your track is a remix, please provide proof that you have permission to remix the track, and that we have permission to upload the track, in the "Anything You Want To Add" section.</p>

        <p>- If your track has been featured in Elevate's Triumphant competition, you cannot submit your track for promotion.</p>
        <p>However, your track may be automatically considered for Triumphant if not accepted on The Ascension.</p>
        <form id="ascensionForm" class="form">

          <div class="formField">
            <label class="formLabel">Email Address <span class="formRequired">*</span></label>
            <div class="formInput">
              <input class="input" type="text" name="email" placeholder="Your answer">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">Artist Name(s) <span class="formRequired">*</span></label>
            <div class="formInput">
              <input class="input" type="text" name="artists" placeholder="Your answer">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">Track Title <span class="formRequired">*</span></label>
            <div class="formInput">
              <input class="input" type="text" name="title" placeholder="Your answer">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">Genre <span class="formRequired">*</span></label>
            <div class="formInput">
              <input class="input" type="text" name="genre" placeholder="Your answer">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">Private Download Link For Your Submission <span class="formRequired">*</span></label>
            <p class="formHelp">The audio of your submission can be any audio type and must be at least 192kbps.</p>
            <div class="formInput">
              <input class="input" type="text" name="download" placeholder="Your answer">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">Anything You Want To Add (Social media accounts, notes on the track, etc)</label>
            <div class="formInput">
              <input class="input" type="text" name="notes" placeholder="Your answer">
            </div>
          </div>

          <button type="submit" value="Submit">Submit</button><div class="small-loader" id="ascLoader" style="display: none;"><img src="/img/spinner.png"/></div>

        </form>
      </content>
    </div>
  </div>
</div>

<div class="page" id="submitted">
  <div class="mainContentWidth">
    <div class="divider wid-100" id="ascensionSubmittedPage">
      <content>
        <h1 style="text-align:center">Submitted!</h1>
        <p style="text-align:center">Thank you for submitting your track!</p>
        <div style="text-align:center" onclick="goto('ascension')"><button>Back to Ascension</button></div>
      </content>
    </div>
  </div>
</div>

<script>
  class AscensionPage extends Page {
    constructor(...args) {
      super(...args);
    }

    load() {
      const self = this;
      request('/api/ascension/release', (err, videoid) => {
        if (err) return this.goError();
        this.$('#asPlayer')[0].setAttribute('src', `https://www.youtube.com/embed/${videoid}`);
        this.$('#ascensionForm')[0].addEventListener('submit', e => this.submitForm.call(self, e));
        this.$('#asPlayer')[0].addEventListener('load', () => {
          this.ready();
        });
      });
    }

    postLoad() {
      this.$('.page').forEach(el => {
        el.classList.remove('active');
      });

      if (!this.subpages[0]) {
        this.$('#main')[0].classList.add('active');
        this.ready();
      } else if (this.subpages[0] == 'submit') {
        if (this.subpages[1] == 'submitted') {
          this.$('#submitted')[0].classList.add('active');
        } else {
          this.lockForm(false, 'ascensionForm');
          this.$('#ascLoader')[0].style.display = 'none';
          this.$('#form')[0].classList.add('active');
        }
        this.ready();
      } else {
        this.go404();
      }
    }

    submitForm(e) {
      e.preventDefault();
      this.$('.input.error').forEach(el => {
        el.classList.remove('error');
      });

      let errors = [];
      const data = this.getFormData('ascensionForm');

      if (!data.email) errors.push('email');
      if (!data.artists) errors.push('artists');
      if (!data.title) errors.push('title');
      if (!data.genre) errors.push('genre');
      if (!data.download) errors.push('download');

      if (errors.length != 0) {
        for (const field of errors) {
          this.$(`[name=${field}]`)[0].classList.add('error');
        }
      } else {
        this.$('#ascLoader')[0].style.display = '';
        this.lockForm(true, 'ascensionForm');
        request({method: 'post', url: '/api/ascension/submit', data: data}, (err, res) => {
          if (err) return this.goError();
          this.$('#ascLoader')[0].style.display = 'none';
          this.lockForm(false, 'ascensionForm');
          this.clearForm('ascensionForm');
          goto('ascension/submit/submitted');
        });
      }

      return false;
    }
  }

  pageMap.set('ascension', new AscensionPage());
</script>
