<div class="mainContentWidth">
  <div class="divider wid-100">
    <content>
      <h1 style="text-align:center">Botvate Leaderboard</h1>
      <table id="leaderboard" class="table wid-100">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>XP</th>
          <th>Level</th>
        </tr>
      </table>
    </content>
  </div>
</div>

<script>
  class BotPage extends Page {
    constructor(...args) {
      super(...args);
    }
    
    load() {
      request('/api/botvate/leaderboard', (err, res) => {
        if (err) return this.goError();
        for (let i = 0; i<res.length; i++) {
          let spot = res[i];
          const row = document.createElement('tr');
          const pos = document.createElement('td');
          row.appendChild(pos);
          const username = document.createElement('td');
          row.appendChild(username);
          const xp = document.createElement('td');
          row.appendChild(xp);
          const level = document.createElement('td');
          row.appendChild(level);
          
          pos.innerHTML = `${i+1}.`;

          username.innerHTML = spot.Username.replace(/</g, '&lt;').replace(/>/g, '&gt;');

          const lvl = spot.Level;
          level.innerHTML = `Level ${lvl}`;

          const nextLevel = 5 * Math.pow(lvl, 2) + 50 * lvl + 100;
          xp.innerHTML = `${spot.XPinLevel} / ${nextLevel} XP`;

          this.$('#leaderboard')[0].appendChild(row);
        }
        this.ready();
      })
    }
  }
  
  pageMap.set('bot', new BotPage());
</script>
