<div class="mainContentWidth">
  <div class="divider wid-100">
    <content>
      <h1 style="text-align:center">Elevate Competition 2018</h1>
      <p style="text-align:center;">Follow the current competition in the <a onclick="goto('discord')" style="cursor: pointer;">Elevate Discord Server</a></p>
    </content>
  </div>
</div>

<script>
  class CompPage extends Page {
    constructor(...args) {
      super(...args);
    }
    
    load() {
      this.ready();
    }
  }
  
  pageMap.set('competition', new CompPage());
</script>
