<div class="mainContentWidth">
  <div class="divider wid-100">
    <content>
      <h1 style="text-align:center">Contact</h1>
      <h2>Main Contact</h2>
      <p>main@elevate.chat</p>
      <h2>Promo</h2>
      <p>promo@elevate.chat</p>
      <h2>Staff</h2>
      <table>
        <tr>
          <td><span class="t-artist">Name</span></td>
          <td><span class="t-artist">Email</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Ronin</span>:</td>
          <td><span class="t-title">ronin@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Evanna</span>:</td>
          <td><span class="t-title">evanna@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Dan</span>:</td>
          <td><span class="t-title">dan@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Bryan</span>:</td>
          <td><span class="t-title">bryan@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Zachary</span>:</td>
          <td><span class="t-title">zachary@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Gerry</span>:</td>
          <td><span class="t-title">gerry@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Oliver</span>:</td>
          <td><span class="t-title">oliver@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Ron</span>:</td>
          <td><span class="t-title">ron@elevate.chat</span></td>
        </tr>
        <tr>
          <td><span class="t-artist">Marco</span>:</td>
          <td><span class="t-title">marco@elevate.chat</span></td>
        </tr>
      </table> 
    </content>
  </div>
</div>

<script>
  class ContactPage extends Page {
    constructor(...args) {
      super(...args);
    }
    
    load() {
      this.ready();
    }
  }
  
  pageMap.set('contact', new ContactPage());
</script>
