<div class="mainContentWidth">
  <div class="divider wid-100">
    <content style="text-align:center">
      <h1>Elevate Discord server</h1><br>
      <iframe id="discordWidget" src="https://discordapp.com/widget?id=204611492010524672&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </content>
  </div>
</div>

<script>
  class DiscordPage extends Page {
    constructor(...args) {
      super(...args);
    }
    
    load() {
      const self = this;
      self.el.querySelector('#discordWidget').addEventListener('load', function(){
        self.ready();
      });
    }
  }
  
  pageMap.set('discord', new DiscordPage());
</script>
