<div class="mainContentWidth">
  <div class="divider wid-100">
    <content>
      <h1 style="text-align:center">FAQ</h1>
      <div class="faq-q">
        <h3>Q: Blah?</h3>
        <p>A: Blah!</p>
      </div>
      <div class="faq-q">
        <h3>Q: Blah blah?</h3>
        <p>A: Shut up!</p>
      </div>
    </content>
  </div>
</div>

<script>
  class FAQPage extends Page {
    constructor(...args) {
      super(...args);
    }
    
    load() {
      this.ready();
    }
  }
  
  pageMap.set('faq', new FAQPage());
</script>
