<div class="mainContentWidth">
  <div id="frontHead" class="wid-100">
    <h1>Elevate</h1>
    <h5>Banding together in a clash of music</h5>
  </div>
  <div id="news" class="divider wid-70">
    <h1>News</h1>
  </div>
  
  <div class="divider wid-30" id="merch">
    <h1>Merch</h1>
    <content>
      <div class="merchItem">
        <img class="wid-100" src="https://www.zoobashop.com/media/catalog/product/cache/1/image/800x880/9df78eab33525d08d6e5fb8d27136e95/s/k/sku_398008_2.jpg">
        <a href="">Boring black shirt</a>
        <h5>$69.99</h5>
      </div>
      <div class="merchItem">
        <img class="wid-100" src="https://s7d9.scene7.com/is/image/JCPenney/0900631B8166ECC4M?$product_pdp$">
        <a href="">Fancy black pants</a>
        <h5>$4.20</h5>
      </div>
    </content>
  </div>
</div>

<script>
  class HomePage extends Page {
    constructor(...args) {
      super(...args);
    }

    load() {
      request('/api/news', (err, res) => {
        if (err) return this.goError();
        for (const o of res) {
          const content = document.createElement('content');

          const image = document.createElement('div');
          image.classList.add("newsImage");
          image.style = `background-image:url('${o.pic}')`;
          content.appendChild(image);

          const title = document.createElement('a');
          title.innerHTML = `<h1>${o.title}</h1>`;
          title.onclick = () => goto(`news/${o.id}`);
          content.appendChild(title);

          const desc = document.createElement('p');
          desc.innerText = o.description;
          content.appendChild(desc);

          $('#news')[0].appendChild(content);
        }
        this.ready();
      });
    }
  }

  pageMap.set('home', new HomePage());
</script>
