<div class="mainContentWidth">
  <h1 style="text-align:center" id="articleTitle"></h1>
  <p style="text-align:center" id="articleDesc"></p>
  <img id="articleImg" src="" class="wid-70 centered-image">
  <div class="divider wid-100">
    <content>
      <div id="articleContent"></div>
    </content>
  </div>
</div>

<script>
  class NewsPage extends Page {
    constructor(...args) {
      super(...args);
    }

    postLoad() {
      if (!this.subpages[0]) return goto('');
      const id = this.subpages[0];
      request('/api/news/'+id, (err, res, xhr) => {
        if (err && xhr.status == 404) return this.go404();
        if (err) return this.goError();
        $('#articleTitle')[0].innerText = res.title;
        $('#articleDesc')[0].innerText = res.description;
        $('#articleImg')[0].setAttribute('src', res.pic);
        $('#articleContent')[0].innerHTML = res.content;
        $('#articleImg')[0].addEventListener('load', () => {
          this.ready();
        });
      });
    }
    
    load() {
      this.ready();
    }
  }
  
  pageMap.set('news', new NewsPage());
</script>
