<div class="mainContentWidth">
  <div class="divider wid-100">
    <content>
      <h1 style="text-align:center">Podcast</h1>
      <div class="divider wid-70">
        <iframe id="podcastPlayer" src="https://player.twitch.tv/?channel=streamvate" frameborder="0" allowfullscreen="true" scrolling="no" height="573" width="940"></iframe>
      </div>
      <div class="divider wid-30">
        <iframe id="podcastChat" src="https://www.twitch.tv/embed/streamvate/chat" frameborder="0" scrolling="no" height="573" width="385"></iframe>
      </div>
    </content>
  </div>
</div>

<script>
  class PodcastPage extends Page {
    constructor(...args) {
      super(...args);
      this.playerReady = false;
      this.chatReady = false;
    }
    
    load() {
      const self = this;
      self.el.querySelector('#podcastPlayer').addEventListener('load', () => {
        self.playerReady = true;
        self.checkReadyState();
      });
      self.el.querySelector('#podcastChat').addEventListener('load', () => {
        self.chatReady = true;
        self.checkReadyState();
      });
    }

    checkReadyState() {
      if (this.playerReady && this.chatReady) this.ready();
    }
  }
  
  pageMap.set('podcast', new PodcastPage());
</script>
