<div class="mainContentWidth">
  <div class="divider wid-100">
    <content>
      <h1 style="text-align:center">Staff Panel</h1>
      <p style="text-align:center;">Super Secret Settings</p>
      <!-- Well they are secret but you're snooping in on some dank staff shit. Don't worry, you can't change them :^) -->
      <h2>News management</h2>
      <p>Soon™</p>

      <div class="form">
        <div class="formField">
          <label class="formLabel">Latest release</label>
          <div class="formInput">
            <input class="input" id="latestRelease" type="text" placeholder="Video ID">
            <button id="saveRelease">Save</button>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="formField">
          <label class="formLabel">Triumphant Art</label>
          <div class="formInput">
            <input class="input" id="triArt" type="text" placeholder="Art URL">
            <button id="saveTriArt">Save</button>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="formField">
          <label class="formLabel">Triumphant Artist</label>
          <div class="formInput">
            <input class="input" id="triArtist" type="text" placeholder="Artist">
            <button id="saveTriArtist">Save</button>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="formField">
          <label class="formLabel">Triumphant Title</label>
          <div class="formInput">
            <input class="input" id="triTitle" type="text" placeholder="Title">
            <button id="saveTriTitle">Save</button>
          </div>
        </div>
      </div>

      <div class="form">
        <div class="formField">
          <label class="formLabel">Triumphant SC Track ID</label>
          <div class="formInput">
            <input class="input" id="triscid" type="text" placeholder="SoundCloud track ID">
            <button id="saveTriscid">Save</button>
          </div>
        </div>
      </div>

    </content>
  </div>
</div>

<script>
  class StaffPage extends Page {
    constructor(...args) {
      super(...args);
    }

    load() {
      const saveButtons = ["saveRelease", "saveTriArt", "saveTriArtist", "saveTriTitle", "saveTriscid"];
      for (const b of saveButtons) {
        console.log(b)
        const button = this.$(`#${b}`)[0];
        const input = button.parentNode.children[0];
        const key = input.getAttribute('id');
        button.onclick = this.saveSetting.bind({key, input, that: this});
      }
      this.ready();
    }

    postLoad() {
      if (!session.loggedin || !session.isStaff) return goto('');
      request('/api/staff/currentSettings', (err, res) => {
        if (err) return this.goError();
        for (const k of Object.keys(res)) {
          this.$(`#${k}`)[0].value = res[k];
        }
      });
      this.ready();
    }

    saveSetting() {
      request({method: "post", url:"/api/staff/saveSetting", data: {
        key: this.key,
        value: this.input.value
      }}, (err, res) => {
        if (err) return console.error(err);
        alert('Saved.');
      });
    }
  }
  
  pageMap.set('staff', new StaffPage());
</script>
