<div class="page" id="main">
  <div class="mainContentWidth">
    <div class="divider wid-100">
      <content>
        <h1 style="text-align:center">Triumphant</h1>
        <div class="divider wid-100">
          <h2 style="text-align:center">Last Week's Triumphant Winner</h2>
          <div class="t-artist-title"><span class="t-artist" id="triArtist">Artist</span> - <span class="t-title" id="triTitle">Title</span></div>
          <img src="" id="triArt" class="centered-image" width="30%" style="margin-bottom:2%;">
          <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" id="triPlayer" src=""></iframe>
        </div>
        <h2 style="text-align:center">Submit your track to Triumphant</h2>
        <div class="divider wid-100">
          <div style="text-align:center" onclick="goto('triumphant/submit')"><button>Submit</button></div>
        </div>
      </content>
    </div>
  </div>
</div>

<div class="page" id="form">
  <div class="mainContentWidth">
    <div class="divider wid-100">
      <content>
        <h1 style="text-align:center">Triumphant: Submission Form</h1>
        <p>Tracks must be less than 2 weeks old.</p>
        <form id="triumphantForm" class="form">

          <div class="formField">
            <label class="formLabel">Artist Name(s) <span class="formRequired">*</span></label>
            <div class="formInput">
              <input class="input" type="text" name="artists" placeholder="Your answer">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">Track Title <span class="formRequired">*</span></label>
            <div class="formInput">
              <input class="input" type="text" name="title" placeholder="Your answer">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">Date of Release <span class="formRequired">*</span></label>
            <div class="formInput">
              <input class="input" type="date" name="date">
            </div>
          </div>

          <div class="formField">
            <label class="formLabel">SoundCloud Link <span class="formRequired">*</span></label>
            <p class="formHelp">Make sure the track is public</p>
            <div class="formInput">
              <input class="input" type="text" name="soundcloud" placeholder="Your answer">
            </div>
          </div>

          <div class="formCheckbox">
            <input class="input" type="checkbox" name="agreement">
            by submitting to Triumphant, you're withdrawing your eligibility to submit this same record directly to The Ascension. By clicking this, you understand that the only way this record may be uploaded through The Ascension is by it being Triumphant
          </div>

          <button type="submit" value="Submit">Submit</button><div class="small-loader" id="triLoader" style="display: none;"><img src="/img/spinner.png"/></div>

        </form>
      </content>
    </div>
  </div>
</div>

<div class="page" id="login">
  <div class="mainContentWidth">
    <div class="divider wid-100" id="triumphantLoginPage">
      <content>
        <h1 style="text-align:center">Triumphant: Submission Form</h1>
        <p style="text-align:center">You must log in to submit a track to Triumphant</p>
        <div style="text-align:center" onclick="login()"><button>Login with Discord</button></div>
      </content>
    </div>
  </div>
</div>

<div class="page" id="submitted">
  <div class="mainContentWidth">
    <div class="divider wid-100" id="triumphantSubmittedPage">
      <content>
        <h1 style="text-align:center">Submitted!</h1>
        <p style="text-align:center">Thank you for submitting your track!</p>
        <div style="text-align:center" onclick="goto('triumphant')"><button>Back to Triumphant</button></div>
      </content>
    </div>
  </div>
</div>

<script>
  class TriumphantPage extends Page {
    constructor(...args) {
      super(...args);
    }

    load() {
      const self = this;
      request('/api/triumphant/winner', (err, res) => {
        if (err) return this.goError();
        this.$('#triArtist')[0].innerHTML = res.triArtist;
        this.$('#triTitle')[0].innerHTML = res.triTitle;
        this.$('#triArt')[0].setAttribute('src', res.triArt);
        this.$('#triPlayer')[0].setAttribute('src', `https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/${res.triscid}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true`)
        this.$('#triumphantForm')[0].addEventListener('submit', e => this.submitForm.call(self, e));
        this.$('#triPlayer')[0].addEventListener('load', () => {
          this.ready();
        });
      });
    }

    postLoad() {
      this.$('.page').forEach(el => {
        el.classList.remove('active');
      });

      if (!this.subpages[0]) {
        this.$('#main')[0].classList.add('active');
        this.ready();
      } else if (this.subpages[0] == 'submit') {
        if (this.subpages[1] == 'submitted') {
          this.$('#submitted')[0].classList.add('active');
        } else if (session.loggedin) {
          this.lockForm(false, 'triumphantForm');
          this.$('#triLoader')[0].style.display = 'none';
          this.$('#form')[0].classList.add('active');
        } else {
          this.$('#login')[0].classList.add('active');
        }
        this.ready();
      } else {
        this.go404();
      }
    }

    submitForm(e) {
      e.preventDefault();
      this.$('.input.error').forEach(el => {
        el.classList.remove('error');
      });

      let errors = [];
      const data = this.getFormData('triumphantForm');

      if (!data.artists) errors.push('artists');
      if (!data.title) errors.push('title');
      if (!data.date) errors.push('date');
      if (!data.soundcloud) errors.push('soundcloud');
      if (!data.agreement) errors.push('agreement');

      if (errors.length != 0) {
        for (const field of errors) {
          this.$(`[name=${field}]`)[0].classList.add('error');
        }
      } else {
        this.$('#triLoader')[0].style.display = '';
        this.lockForm(true, 'triumphantForm');
        request({method: 'post', url: '/api/triumphant/submit', data: data}, (err, res) => {
          if (err) return this.goError();
          this.$('#triLoader')[0].style.display = 'none';
          this.lockForm(false, 'triumphantForm');
          this.clearForm('triumphantForm');
          goto('triumphant/submit/submitted');
        });
      }

      return false;
    }
  }

  pageMap.set('triumphant', new TriumphantPage());
</script>